-
  const ttl = "firestoreのCRUDテスト"

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/style.css")
  body
    header
      .l
        h1 #{ttl}
    main
      .l
        p 各種テストボタン
        button(onclick="getDB()") 取得
        button(onclick="getUniqueDB()") 一意取得
        button(onclick="addDB()") 追加
        button(onclick="updateDB()") 更新
        button(onclick="whereDB()") 検索
        button(onclick="deleteDB()") 削除
      .l
        p#process 表示
        div#result


    script(src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js")
    script(src="js/firebase/init.js")
    script(src="js/index.js")